// browser resets 

* { 
    border: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // image reset to prevent overflow 
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
// hiding elements only to be displayed on larger screen sizes.
.show--large-screen {
    display: none;
}


