@use "../Portfolio-Project/sass/_abstracts/variables" as *;
@use "../Portfolio-Project/sass/_base/reset";
@use "../Portfolio-Project/sass/_base/typography" as *;
@use "../Portfolio-Project/sass/_abstracts/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap");


// class for hidden on mobile but to show on larger screens
// creat sass maps for font styles / size and colours
// create mixins with arguments to use for coloured borders and hover effects
// adjust header layour so sizing is on the text boxes not on the actual container

// layout 

body {
    background-color: $primary-color;
    color: $secondary-color;
    display: grid;
    width: 100vw;
    grid-template-columns: 100vw;  

}
    .show--large-screen {
        display: none;
    }
    .header {
        grid-row: 1 / 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 1rem;

        &__text-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            padding: 1rem;
        }
            &__greeting-text {
                display: block;
                width: 80%;
                margin-bottom: 1rem;
            }
            &__heading {
                width: 80%;
            }
                
            
            
            
    }        
    // main content layout
    .main-content-block {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr;
        background-color: $secondary-color;
        
    }
        // about me section layout
        .about-me {
            grid-row: 1 / 2;
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            justify-content: space-evenly;
            padding: 0.5rem;
            background-color: $secondary-color;
            &__header {
                padding: 0.5rem;

            }
            &__figure {
                width: 75%;
                align-self: center;
                display: flex;
                align-items: stretch;
                justify-items: stretch;
                padding: 2rem;
                flex-grow: 0.5;
                flex-shrink: 1;
            }
                &__photo {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            &__text-content {
                padding: 1rem;
                display: flex;
                flex-flow: column nowrap;
                flex-grow: 1;
                flex-shrink: 2;
            }
                &__paragraph-one {
                    padding: 0.5rem;
                }
                &__paragraph-two {
                    flex-grow: 1;
                    padding: 0.5rem;

                }
        }
        .technical-skills {
            grid-row: 2 / 3;
            background-color: $tertiary-color;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            padding: 1rem;
            &__header {
                width: 80%;
                text-align: center;
            }
            &__paragraph {
                width: 70%;

                text-align: center;
            }
        }
            .icon-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 0.2rem;
                background-color: $primary-color;
                &__container{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                }
                
                    &__icon {
                        display: block;
                        width: 100%; 
                        height: 75%;
                    }
                    &__caption {
                        height: 25%;
                        background-color: $tertiary-color;
                    }
            }
        .card-block {
            background-color: $secondary-color;
            grid-row: 3 / 4;
            display: grid;
            grid-template-columns: 1fr;
            &__header {
                grid-row: 1 / 2;
                text-align: center;
                padding: 1rem;
            }
            &__cards-container {
                background-color: $secondary-color;
                grid-row: 2 / 3;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: 1fr 1fr 1fr;

            }
        }
            .card {
                    background-color: $primary-color;
                    display: flex;
                    flex-direction: column;
                    justify-items: space-evenly;
                    align-items: center;
                    padding: 1rem;
                    &__image {
                    display: block;
                    height: 10rem;                 
                }
            
            &-one {
                background-color: $primary-color;
                grid-column: 1 / 2;
                grid-row: 1 / 2;

            }
            &-two {
                background-color: $tertiary-color;
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
            &-three {
                background-color: $secondary-color;
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
            &-four {
                display: none;
            }
            &-five {
                display: none;
            }
            &-six {
                display: none;
            }
        }


    .footer {
    grid-row: 3 / 4;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
        &__email-link {
        display: block;
        text-align: center;
        }
        &__navigation-menu {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .footer__link {
                display: block;
                width: 3rem;
                .footer__icon {
                    display: inline-block;
                    width: 3rem;
                    height:100%;
                }
            }
        }
    
    }
    
