@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.show--large-screen {
  display: none;
}

body {
  font-family: "Montserrat", Verdana;
  font-weight: 300;
  font-size: 1rem;
}

.header__greeting-text {
  font-family: "Manrope", sans-serif;
  font-weight: 850;
  font-size: 2rem;
  font-size: 1.6rem;
}
.header__greeting-highlight {
  color: #f06423;
}
.header__heading {
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}
.header__text-highlight {
  color: #f06423;
}

.about-me {
  color: #1e1e1e;
}
.about-me__header {
  font-family: "Manrope", sans-serif;
  font-weight: 850;
  font-size: 2rem;
  text-align: center;
}

.technical-skills {
  color: #ffffff;
  text-align: center;
}
.technical-skills__header {
  font-family: "Manrope", sans-serif;
  font-weight: 850;
  font-size: 2rem;
}

.icon-grid__caption {
  font-family: "Montserrat", Verdana;
  font-weight: 300;
  font-size: 1rem;
  font-size: 0.9rem;
}

.card-block__header {
  font-family: "Manrope", sans-serif;
  font-weight: 850;
  font-size: 2rem;
  color: #1e1e1e;
}

.card__sub-heading {
  font-family: "Montserrat", Verdana;
  font-weight: 300;
  font-size: 1rem;
  font-weight: 360;
}
.card__heading {
  font-family: "Manrope", sans-serif;
  font-weight: 850;
  font-size: 2rem;
}
.card__button {
  font-family: "Montserrat", Verdana;
  font-weight: 300;
  font-size: 1rem;
  font-size: 0.9rem;
}
.card-one {
  color: #f06423;
}
.card-two {
  color: #1e1e1e;
}
.card-three {
  color: #f06423;
}
.card-four {
  color: #1e1e1e;
}
.card-five {
  color: #1e1e1e;
}
.card-six {
  color: #1e1e1e;
}

.footer__email-link {
  color: #f06423;
}
.footer__link {
  color: #ffffff;
}

body {
  background-color: #1e1e1e;
  color: #ffffff;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(300px, auto) auto minmax(150px, 20vh);
}

.show--large-screen {
  display: none;
}

.header {
  grid-row: 1/2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.header__text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  flex: 1;
}
.header__greeting-text {
  display: block;
  width: 80%;
  margin-bottom: 1rem;
}
.header__heading {
  width: 80%;
}

.main-content-block {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(1fr, 100vh) minmax(1fr, 100vh) 2fr;
  background-color: #ffffff;
}

.about-me {
  grid-row: 1/2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ffffff;
}
.about-me__header {
  width: 50%;
}
.about-me__figure {
  height: 40%;
  width: 60%;
}
.about-me__photo {
  display: block;
  width: 100%;
  height: 100%;
}
.about-me__text-content {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.technical-skills {
  grid-row: 2/3;
  background-color: #f06423;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.technical-skills__header {
  width: 80%;
  text-align: center;
}
.technical-skills__paragraph {
  width: 70%;
  text-align: center;
}

.icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.2rem;
  background-color: #1e1e1e;
}
.icon-grid__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.icon-grid__icon {
  display: block;
  width: 100%;
  height: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}
.icon-grid__caption {
  height: 25%;
  background-color: #f06423;
}

.card-block {
  background-color: #ffffff;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(1fr, 10vh) 3fr;
}
.card-block__header {
  grid-row: 1/2;
  text-align: center;
  padding: 1rem;
}
.card-block__cards-container {
  background-color: #ffffff;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 1fr 1fr 1fr;
}

.card {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: center;
  padding: 1rem;
}
.card__image {
  display: block;
  height: 10rem;
}
.card-one {
  background-color: #1e1e1e;
  grid-column: 1/2;
  grid-row: 1/2;
}
.card-two {
  background-color: #f06423;
  grid-column: 1/2;
  grid-row: 2/3;
}
.card-three {
  background-color: #ffffff;
  grid-column: 1/2;
  grid-row: 3/4;
}
.card-four {
  display: none;
}
.card-five {
  display: none;
}
.card-six {
  display: none;
}

.footer {
  grid-row: 3/4;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer__email-link {
  display: block;
  text-align: center;
}
.footer__navigation-menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__navigation-menu .footer__link {
  display: block;
  width: 3rem;
}
.footer__navigation-menu .footer__link .footer__icon {
  display: inline-block;
  width: 3rem;
  height: 100%;
}/*# sourceMappingURL=style.css.map */