@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap");
* {
  border: 1px solid blue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.show--large-screen {
  display: none;
}

body {
  font-family: "Montserrat", Verdana;
  font-weight: 300;
  font-size: 1rem;
}

.header__greeting-text {
  font-family: "Manrope", sans-serif;
  font-weight: 850;
  font-size: 2rem;
  font-size: 1.6rem;
}
.header__greeting-highlight {
  color: #f06423;
}
.header__heading {
  font-family: "Manrope", sans-serif;
  font-weight: 900;
  font-size: 3rem;
}
.header__text-highlight {
  color: #f06423;
}

.about-me {
  color: #1e1e1e;
}
.about-me__header {
  font-family: "Manrope", sans-serif;
  font-weight: 850;
  font-size: 2rem;
  text-align: center;
}

.technical-skills {
  color: #ffffff;
  text-align: center;
}
.technical-skills__header {
  font-family: "Manrope", sans-serif;
  font-weight: 850;
  font-size: 2rem;
}

.icon-grid__caption {
  font-family: "Montserrat", Verdana;
  font-weight: 300;
  font-size: 1rem;
  font-size: 0.9rem;
}

.card-block__header {
  font-family: "Manrope", sans-serif;
  font-weight: 850;
  font-size: 2rem;
}

.card__sub-heading {
  font-family: "Montserrat", Verdana;
  font-weight: 300;
  font-size: 1rem;
  font-weight: 360;
}
.card__heading {
  font-family: "Manrope", sans-serif;
  font-weight: 850;
  font-size: 2rem;
}
.card__button {
  font-family: "Montserrat", Verdana;
  font-weight: 300;
  font-size: 1rem;
  font-size: 0.9rem;
}

.footer__email-link {
  color: #f06423;
}
.footer__link {
  color: #ffffff;
}

body {
  background-color: #1e1e1e;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.show--large-screen {
  display: none;
}

.header {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 3vh 3vh 3vh;
}
.header__text-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.header__text-container .header__greeting-text {
  width: 80%;
}
.header__text-container .header__greeting-text .header__text-highlight {
  width: 100%;
}
.header__text-container .header__heading {
  width: 80%;
}
.header__text-container .header__heading .header__text-highlight {
  max-width: 100%;
}

.main-content-block {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.about-me {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #ffffff;
}
.about-me__header {
  width: 50%;
}
.about-me__figure {
  height: 30vh;
  width: 60%;
}
.about-me__photo {
  display: block;
  width: 100%;
  height: 100%;
}
.about-me__text-content {
  height: 40vh;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.technical-skills {
  background-color: #f06423;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.technical-skills__header {
  width: 80%;
}
.technical-skills__paragraph {
  width: 70%;
}

.icon-grid {
  height: 60vh;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  background-color: #ffffff;
}
.icon-grid__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.icon-grid__icon {
  display: block;
  width: 100%;
  height: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}
.icon-grid__caption {
  height: 25%;
  background-color: #f06423;
}

.footer-block {
  width: 100%;
  height: 20vh;
}/*# sourceMappingURL=style.css.map */