@use "../Portfolio-Project/sass/_abstracts/variables" as *;
@use "../Portfolio-Project/sass/_base/reset";
@use "../Portfolio-Project/sass/_base/typography" as *;
@use "../Portfolio-Project/sass/_abstracts/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap");


// class for hidden on mobile but to show on larger screens
// creat sass maps for font styles / size and colours
// create mixins with arguments to use for coloured borders and hover effects
// adjust header layour so sizing is on the text boxes not on the actual container

// layouts

body {
    background-color: $primary-color;
    color: $secondary-color;
    display: grid;
    grid-template-columns: 100vw;  
}
    // top banner layout
    
    .header {
        grid-row: 1 / 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 1rem;

        &__text-container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            padding: 1rem;
        }
            &__greeting-text {
                display: block;
                width: 80%;
                margin-bottom: 1rem;
            }
            &__heading {
                width: 80%;
            }
                
            
            
            
    }        
    // main content layout
    .main-content-block {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr;
        background-color: $secondary-color;
        
    }
        // about me section layout
        .about-me {
            grid-row: 1 / 2;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-evenly;
            padding: 0.5rem;
            background-color: $secondary-color;
            &__header {
                padding: 0.5rem;
            }
            &__figure {
                width: 75%;
                align-self: center;
                display: flex;
                padding: 2rem;
                max-width: 30rem;
            }
                &__photo {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            &__text-content {
                max-width: 30rem;
                padding: 1rem;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
            }
                &__paragraph-one {
                    padding: 0.5rem;
                }
                &__paragraph-two {
                    padding: 0.5rem;

                }
        }
        // technical skill section layout
        .technical-skills {
            grid-row: 2 / 3;
            background-color: $tertiary-color;
            padding: 1rem;
            &__header {
                text-align: center;
                padding: 1rem;
            }
            &__paragraph {
                text-align: center;
                padding: 1rem;
            }
        }
            // technical skills icon grid layout
            .icon-grid {
                display: inline-grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 0.2rem;
                padding: 0.4rem;
                background-color: $secondary-color;
                &__container{
                    flex-flow: column wrap;
                    justify-content: space-between;
                    max-height: 10rem;
                    border: 3px solid black;
                }
                
                    &__icon {
                        display: block;
                        width: 100%;
                        height: 70%;
                        background-color: $tertiary-color;
                    }
                    &__caption {
                        background-color: $tertiary-color;
                        height: 30%;
                        padding: 0.5rem;
                        background-color: $primary-color;
                    }
            }
        // my projects layout - cards
        .card-block {
            background-color: $secondary-color;
            grid-row: 3 / 4;
            display: grid;
            grid-template-columns: 1fr;
            &__header {
                grid-row: 1 / 2;
                text-align: center;
                padding: 1rem;
            }
            &__cards-container {
                background-color: $secondary-color;
                grid-row: 2 / 3;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: 1fr 1fr 1fr;

            }
        }
            // General card layout
            .card {
            background-color: $primary-color;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 1rem;
                // card image container
                &__image-container {
                    width: 80%;
                    padding: 1rem;
                }
                    // card image
                    &__image {
                        width: 100%;                 
                    }
                // card text content container
                &__text-content {
                    padding: 1rem;
                }
                    &__sub-heading {
                    
                    }
                    &__heading {
                    
                    }
                    &__paragraph {
                    
                    }                     
                // individual card positioning
                &-one {
                    background-color: $primary-color;
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }
                &-two {
                    background-color: $tertiary-color;
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                }
                &-three {
                    background-color: $secondary-color;
                    grid-column: 1 / 2;
                    grid-row: 3 / 4;
                }
                &-four {
                    display: none;
                }
                &-five {
                    display: none;
                }
                &-six {
                    display: none;
                }
        }
    // footer layout
    .footer {
    grid-row: 3 / 4;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
        &__email-link {
        padding: 1rem;
        display: block;
        text-align: center;
        }
        &__navigation-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .footer__link {
                padding: 1rem;
                display: block;
                .footer__icon {
                    width: 2rem;
                }
            }
        }
    
    }
    


@media screen and (min-width:1024px) {
.show--large-screen {
    display: unset;
}
.top-banner {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.header {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.main-content-block {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.footer{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
}   