// variables list

//Global colour palette
$primary-color: #1e1e1e;
$secondary-color: #ffffff;
$tertiary-color: #f06423;

//global font properties
// font families

$header-font-family: "Manrope", sans-serif;
$text-font-family: "Montserrat", Verdana;

// font sizes
$large-header-size: 3rem;
$normal-header-size: 2rem;
$subheader-size: 1.6rem;
$default-font-size: 1rem;
$smaller-font-size: 0.9rem;

// font weights
$bold-weight: 900;
$semibold-weight: 850;
$regular-weight: 300;
$extra-light-weight: 200;
