// variables list


//Global colour palette
$primary-color: #1e1e1e;
$secondary-color: #ffffff;
$tertiary-color: #f06423;

//global font properties
// font families

$header-font-family: "Arial";
$text-font-family: "Montserrat",;

// font sizes
$large-header-size: 4rem;
$normal-header-size: 3rem;
$subheader-size: 2.2rem; 
$default-font-size: 1.1rem;
$smaller-font-size: 0.9rem;

// font weights
$bold-weight: 700;
$semibold-weight: 600;
$regular-weight: 400;
$extra-light-weight:200;